<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :time_in_minutes, style: "display: block" %>
    <%= form.number_field :time_in_minutes %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <h3>Current Images</h3>
  <% service.images.each_with_index do |image, index| %>
    <div>
      <%= image_tag(image) %>
      <%= link_to 'Remove', delete_attachment_service_service_url(image.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "turbo-frame-tag" %>


    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
