<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Time in minutes:</strong>
    <%= service.time_in_minutes %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= service.category.name %>
  </p>

  <% if service.images.attached? %>
    <% service.images.each do |image| %>
      <%= image_tag(image) %>
      
    <% end %>
  <% end %>

</div>
