<div id="<%= dom_id booking %>">
  <%# Get rid of code that is not in use%>
  <!--<p>
    <strong>Desk:</strong>
    <%= booking.desk_id %>
  </p>-->
  <p>

    <%= booking.date_format %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking.service.name %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= booking.formatted_time_range %>
  </p>

</div>
