<div class="flex flex-col items-center justify-center w-full px-2">
  <!-- Collapsible for Dynamic Booking Status -->
  <div class="collapse bg-orange-600 rounded m-2 p-2 w-full max-w-4xl">
    <input type="checkbox" id="<%= booking_status %>-bookings" class="peer hidden-checkbox" />
    <label for="<%= booking_status %>-bookings" class="collapse-title text-center text-lg sm:text-xl py-2 px-2 text-white uppercase cursor-pointer w-full flex justify-center items-center">
      <span class="font-black hover:text-orange-900 text-2xl sm:text-2xl"><%= current_user.desks.bookings.send(booking_status).count %></span> <%= booking_status.capitalize %> Bookings
    </label>

    <div class="collapse-content transition-all overflow-hidden max-h-0 peer-checked:max-h-96 w-full">
      <ul>
        <% current_user.desks.bookings.send(booking_status).each_with_index do |booking, index| %>
          <li class="service-item bg-white m-4 p-4 uppercase text-center text-orange-700 text-sm sm:text-md tracking-widest transition delay-75 duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg" style="transition-delay: <%= index * 0.1 %>s;">
            <p class="font-bold hover:text-orange-500"><%= booking.client_name %></p>
            <%= link_to "Booking for #{booking.service.name}", booking_path(booking), class: "text-black hover:text-orange-500" %>
            <p class="font-bold text-black"><%= booking.date_format %></p>
            <div class="mt-2 flex justify-center">
              <% if booking_status == 'pending' %>
                <%= button_to confirm_booking_path(booking), method: :patch, data: { turbo_confirm: "Are you sure you want to confirm this booking?" }, class: "bg-orange-600 hover:bg-orange-700 p-2 mx-2 rounded" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                <% end %>
              <% elsif booking_status == 'confirmed' %>
                <!-- Specific buttons for confirmed bookings can be added here -->
              <% end %>
              <%= button_to booking_path(booking), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "bg-orange-600 hover:bg-orange-700 p-2 mx-2 rounded" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
