<div id="<%= dom_id desk %>">
  <%= image_tag desk.profile_picture, alt: "profile picture", style: "height: 80px;" %>

  <h1><%= current_user.desks.name %></h1>

  <p>
    <%= desk.location %>
  </p>

  <p>
    <%= desk.bio %>
  </p>

</div>
