<div id="<%= dom_id desk %>">
  <div class="flex flex-col w-full mt-3 items-center relative">
      <p class="absolute top-0 right-0 m-3">
        <%= link_to "Edit desk", edit_desk_path(current_user.desks) %>
      </p>
    <div class="w-2/3">
      <img src="<%= desk.profile_picture %>" alt="profile picture" >
    </div>

    <h1 class="flex justify-center text-5xl"><%= current_user.desks.name %></h1>

    <p class="flex justify-center text-secondary">
      <%= link_to desk_profile_url(desk.name), desk_profile_path(desk.name) %>
    </p>

    <p class="flex justify-center font-bold">
      <%= desk.location %>
    </p>

    <p class="flex justify-center text-center">
      <%= desk.bio %>
    </p>
  </div>
</div>
