<div id="<%= dom_id desk %>">
  <p>
    <strong>Name:</strong>
    <%= desk.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= desk.bio %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= desk.location %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= desk.profile_picture %>
  </p>


</div>
