<%# Initialize a hash to count occurrences of each service_id %>
<% service_counts = current_user.desks.bookings.each_with_object(Hash.new(0)) do |booking, counts| %>
  <% counts[booking.service_id] += 1 %>
<% end %>

<%# Sort service_ids by their frequency and limit to the top 5 %>
<% sorted_service_ids = service_counts.sort_by { |_, count| -count }.map(&:first).first(5) %>

<% counter = 1 %>
<%# Collect and display each Service object in order %>
<% sorted_service_ids.each_with_index do |service_id, index| %>
  <% service = Service.find(service_id) %>

  <div class="flex items-center bg-orange-600 text-orange-100 p-4 m-3 ">
    <span class="text-4xl font-bold pr-4 border-r">
      <%= index + 1 %>
    </span>
    <div class="flex flex-row flex-grow pl-4 justify-between">
      <h3 class="flex items-center uppercase text-l font-bold">
        <%= service.name %>
      </h3>
      <div id="block" class="flex">
        <div class="text-lg bg-orange-100 text-orange-500 rounded-sm px-3 py-1">
          <span class="font-bold text-black">
            <%= service_counts[service_id] %>
          </span>
          BOOKINGS
        </div>
      </div>
    </div>
  </div>

<% end %>


<h1 class="text-5xl text-center font-black text-orange-600"><%= current_user.desks.bookings.count %></h1>
<h2 class="text-center uppercase font-bold text-black">Total bookings</h2>

<h1 class="text-4xl text-center font-black text-lime-600">
  <% total_revenue = 0 %>
  <% current_user.desks.bookings.completed.each do |booking| %>
    <% if booking.service %>
      <% total_revenue += booking.service.price %>
    <% end %>
  <% end %>
  <%= number_to_currency(total_revenue) %>
</h1>
<h2 class="text-center uppercase font-bold text-black pb-5">Total Revenue</h2>
