<p style="color: green"><%= notice %></p>

<div id="desks" class="flex flex-wrap justify-center m-8">

  <% if current_user.desks.present? %>
    <div class="max-w-3xl">
      <div>
        <%= render current_user.desks %>
      </div>

      <div>
        <h2 class="bg- bg-black text-center text-4xl uppercase text-white mt-3 py-3 font-bold">Upcoming Bookings</h2>
        <div>
          <%= render partial: "desks/upcoming_bookings" %>
        </div>
        <div class=" text-center text-3xl py-2 text-orange-500 border-4 border-black">
          YOU HAVE 
          <%= link_to current_user.desks.bookings.pending.count, bookings_path, class: "font-black text-black hover:text-orange-500" %>
          PENDING BOOKINGS
        </div>

      </div>
    </div>

    <div class=" flex-grow max-w-3xl border mt-3 rounded bg-black">
      <h2 class=" text-center text-4xl uppercase mt-5 font-bold text-white py-3">Top Services</h2>
      <%= render partial: "desks/top_services" %>
    </div>

  <% else %>
    <%= link_to "New Desk", new_desk_path %>
  <% end %>
</div>
