<p style="color: green"><%= notice %></p>

<div id="desks">

  <% if current_user.desks.present? %>
    <div class="max-w-3xl">
      <div>
        <%= render current_user.desks %>
      </div>

      <div>
        <h2 class="bg-orange-500 text-center text-4xl uppercase">Upcoming Bookings</h2>
        <div>
          <%= render partial: "desks/upcoming_bookings" %>
        </div>
        <div class="bg-orange-500 text-center text-3xl">
          <%= link_to "YOU HAVE #{current_user.desks.bookings.pending.count} PENDING BOOKINGS", bookings_path %>
        </div>
      </div>
    </div>

    <div>
      <h2>Top Services</h2>
      <%= render partial: "desks/top_services" %>
    </div>

  <% else %>
    <%= link_to "New Desk", new_desk_path %>
  <% end %>
</div>
