<p style="color: green"><%= notice %></p>

<div id="desks">
  <% if current_user.desks.present? %>
  <h1><%= current_user.desks.name %> Desk</h1>
    <%= render current_user.desks %>
    <p>
      <%= link_to "Show this desk", desk_path(current_user.desks) %>
    </p>
  <% else %>
    <%= link_to "New Desk", new_desk_path %>
  <% end %>
</div>
