<p style="color: green"><%= notice %></p>

<div id="desks">
  <% if current_user.desks.present? %>
    <div>
      <%= render current_user.desks %>
      <hr>
    </div>

    <div>
      <h2>Upcoming Bookings</h2>
      <div>
        <%= render partial: "desks/upcoming_bookings" %>
        <hr>
      </div>
      <div>
     <%= link_to "YOU HAVE #{current_user.desks.bookings.pending.count} PENDING BOOKINGS", bookings_path %>
      </div>
      <hr>
    </div>

    <div>
      <h2>Top Services</h2>
      <%=  %>
      <hr>
    </div>

    <div>
      <p>
        <%= link_to "Edit desk", edit_desk_path(current_user.desks) %>
      </p>
    </div>

  <% else %>
    <%= link_to "New Desk", new_desk_path %>
  <% end %>
</div>
