<div class="max-w-md mx-auto overflow-hidden bg-white rounded-lg border border-gray-200 shadow-md mt-32 dark:bg-gray-700  flex flex-col">
  <div class="h-96 carousel carousel-vertical">
    <div class="container mx-auto flex justify-center items-center ">
      <% if @service.images.any? %>
        <div class="carousel-item h-full">
          <%= image_tag(@service.images.first, class: "object-cover object-top w-full h-full") %>
        </div>
      <% else %>
        <div class="w-64 h-64 flex justify-center items-center mt-20"> <!-- This sets the width and height to 4rem (64px by 64px) -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
        </div>

      <% end %>
    </div>

  </div>

  <div class="p-6">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @service.name %></h1>
    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400"><%= @service.description %></p>
    <h2 class="text-lg text-gray-900 dark:text-white">$<%= @service.price %></h2>
    <h3 class="mb-4 text-gray-600 dark:text-gray-400"><%= @service.time_in_hours %></h3>
  </div>
</div>

<div class="w-full max-w-2xl mx-auto flex items-center flex-col mt-16">

  <%= render 'desks/client_form', booking: @booking %>

  <%= button_to 'Back to Desk', desk_profile_path(@service.desk.name), method: :get, class: 'text-white bg-orange-600 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-orange-600  dark:focus:ring-blue-800 transition duration-300 ease-in-out mt-4' %>
</div>

<div class="container mx-auto px-5 py-5 lg:px-32 lg:pt-12">
  <div class="-m-1 flex flex-wrap justify-center md:-m-2">
    <% @service.images.each do |image| %>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2 ">
          <button onclick="openModal('<%= image.url %>')">
            <%= image_tag(image, alt: "gallery", class: "block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-transform duration-200") %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center" onclick="closeModal()">
  <div class="bg-white rounded-lg max-w-3xl max-h-full overflow-auto">
    <img id="modal-img" src="" alt="Enlarged image" class="w-full h-auto">
  </div>
</div>

<script>
  function openModal(imgSrc) {
    const modal = document.getElementById('modal');
    const modalImg = document.getElementById('modal-img');
    modalImg.src = imgSrc; // Set the source of the modal image to the clicked image
    modal.style.display = 'flex'; // Use 'flex' to use flexbox properties
  }

  function closeModal() {
    const modal = document.getElementById('modal');
    modal.style.display = 'none'; // Hide the modal
  }

  document.getElementById('modal').addEventListener('click', function(e) {
    if (e.target === this) {
      closeModal();
    }
  });
</script>
