<div class="mx-3">

<div class="flex flex-col w-full mt-3 items-center relative">
  <div class="w-full sm:w-2/3 md:w-1/2 lg:w-1/3">
    <img src="<%= @desk.profile_picture %>" alt="profile picture" class="w-full">
  </div>

  <h1 class="text-3xl sm:text-4xl md:text-5xl mt-3">
    <%= @desk.name %>
  </h1>

  <p class="text-orange-600">
    <%= link_to "https://www.Flowdesk.pro/$/#{@desk.name}", desk_profile_path(@desk.name) %>
  </p>

  <p class="font-bold">
    <%= @desk.location %>
  </p>

  <p class="text-center px-4">
    <%= @desk.bio %>
  </p>
</div>


  <div class="flex flex-col items-center justify-center w-full">
  <% @desk.categories.each_with_index do |category, index| %>
    <div class="collapse collapse-arrow bg-orange-600 rounded-none m-3 p-2 w-full">
      <input type="checkbox" id="accordion-<%= index %>" class="peer hidden-checkbox" />

      <label for="accordion-<%= index %>" class="collapse-title text-xl sm:text-2xl md:text-3xl text-center text-white uppercase font-medium cursor-pointer block tracking-[.3em]">
        <%= category.name %>
      </label>

      <div class="collapse-content transition-all overflow-hidden max-h-0 peer-checked:max-h-96">
        <ul>
          <% category.services.each_with_index do |service, s_index| %>
            <li class="service-item bg-white m-4 p-4 uppercase text-center text-orange-700 text-lg sm:text-xl font-bold tracking-widest" style="transition-delay: <%= s_index * 0.3 %>s;">
              <%= link_to service.name, desk_service_path(desk_name: @desk.name, service_name: service.name) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

</div>
