<div class="flex flex-col w-full mt-3 items-center relative">
  <div class="w-2/3">
    <img src="<%= @desk.profile_picture %>" alt="profile picture" >
  </div>

  <h1 class="flex justify-center text-5xl"><%= @desk.name %></h1>

  <p class="flex justify-center text-secondary">
    <%= link_to desk_profile_url(@desk.name), desk_profile_path(@desk.name) %>
  </p>

  <p class="flex justify-center font-bold">
    <%= @desk.location %>
  </p>

  <p class="flex justify-center text-center">
    <%= @desk.bio %>
  </p>
</div>


<% @desk.categories.each_with_index do |category, index| %>
  <div class="collapse collapse-arrow bg-white rounded-none m-3 p-2">
    <input type="checkbox" id="accordion-<%= index %>" class="peer hidden-checkbox" />
    
    <label for="accordion-<%= index %>" class="collapse-title text-3xl text-center text-orange-500 uppercase font-medium cursor-pointer block tracking-[.5em]">
      <%= category.name %>
    </label>
    
    <div class="collapse-content transition-all overflow-hidden max-h-0 peer-checked:max-h-96">
      <ul>
        <% category.services.each_with_index do |service, s_index| %>
          <li class="service-item bg-orange-700 m-4 p-4 uppercase text-center text-white text-xl font-thin" style="transition-delay: <%= s_index * 0.3 %>s;">
            <%= link_to service.name, desk_service_path(desk_name: @desk.name, service_name: service.name) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
