<div id="<%= dom_id availability %>">
  <p>
    <strong>Desk:</strong>
    <%= availability.desk_id %>
  </p>

  <p>
    <strong>Day of the week:</strong>
    <%= availability.day_of_the_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

</div>
