<%= form_with(model: availability) do |form| %>
  <% if availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <%= form.hidden_field :desk_id, value: current_user.desks.id %>
  </div>

  <div>
    <%= form.label :day_of_the_week, style: "display: block" %>
    <%= form.collection_select :day_of_the_week, @days, :id, :name,
        { include_blank: true }, 
        { required: true } %>

  </div>

<div>
  <%= form.label :start_time, style: "display: block" %>
  <%= form.select :start_time,
   options_for_select(time_options(), selected: availability.start_time&.strftime("%-l:%M %p")),
        { include_blank: true }, 
        { required: true } %>
</div>

<div>
  <%= form.label :end_time, style: "display: block" %>
  <%= form.select :end_time, 
        options_for_select(time_options(), availability.end_time&.strftime("%-l:00 %p")),
        { include_blank: true }, 
        { required: true } %>
</div>







  <div>
    <%= form.submit %>
  </div>
<% end %>
