<%= form_with(model: availability) do |form| %>
  <% if availability.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>
      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="relative z-0 w-full mb-6 group">
    <%= form.hidden_field :desk_id, value: current_user.desks.id %>
  </div>

  <div class="relative z-0 w-full mb-6 group">
    <%= form.label :day_of_the_week, "Day of the Week", class: "block peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    <%= form.collection_select :day_of_the_week, @days, :id, :name,
        { include_blank: true }, 
        { class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", required: true ,style: "color:black"} %>
  </div>

  <div class="relative z-0 w-full mb-6 group">
    <%= form.label :start_time, "Start Time", class: "block peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    <%= form.select :start_time,
     options_for_select(time_options(), selected: availability.start_time&.strftime("%-l:%M %p")),
          { include_blank: true }, 
          { class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", required: true,style: "color:black" } %>
  </div>

  <div class="relative z-0 w-full mb-6 group">
    <%= form.label :end_time, "End Time", class: "block peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    <%= form.select :end_time, 
          options_for_select(time_options(), availability.end_time&.strftime("%-l:00 %p")),
          { include_blank: true }, 
          { class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", required: true,style: "color:black" } %>
  </div>

  <div class="flex flex-row justify-center ">
    <div class=" flex justify-center">
      <%= form.submit class: "bg-orange-600 hover:bg-orange-700 text-white py-2 px-4 rounded m-2" %>
    </div>
    <div class="flex justify-center space-x-4">
      <%= link_to "Back to availability", availabilities_path, class: "bg-orange-600 hover:bg-orange-700 text-white py-2 px-4 rounded m-2" %>
    </div>
  </div>
<% end %>
