<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>FlowDesk</title>
    <link rel="icon" type="image/png" href="<%= asset_path('Flowdesk_logo_2') %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
       <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div  class="container mx-auto px-4 mb-10">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "flash #{name}") %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
